<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br>

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# Новый раздел

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
- salary: >50K,<=50K

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://lms.ithillel.ua/api/lms/files/6337f0faf1ced7438c5f1899")
print(df.info())  # let's get some more information about the dataset
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [ ]:
print(df["sex"].value_counts(), "\n")
print("There are 21790 men and 10771 women in this dataset")

Male      21790
Female    10771
Name: sex, dtype: int64

There are 21790 men and 10771 women in this dataset

**2. Каков средний возраст (признак *age*) женщин?**

In [ ]:
mean_age = df[df["sex"] == "Female"]["age"].mean()
print(f"Average age of women is {int(mean_age.round(0))} years")

Average age of women is 37 years

**3. Какова доля граждан Германии (признак *native-country*)?**

In [ ]:
# First of all, let's see which values are there
print(df["native-country"].value_counts(normalize=False), "\n")

# We can see that there are 137 German citizens, but let's show this in a more readable format
counted = df["native-country"].value_counts(normalize=True).mul(100).round(1).astype(str) + "%"
print("The total percentage of German citizens is", counted["Germany"])

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

The total percentage of German citizens is 0.4%

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [ ]:
# First of all, let's check which values we have for salary in the dataset
print(df["salary"].value_counts(), "\n")

# Okay, now we can get all people, that have a salary >50K
more50k = df[df["salary"] == ">50K"]

print("Age mean with the salary >50K:", more50k["age"].mean().round(0).astype(int), "years")
print("Standard deviations of the age for peoples with salary >50K:", more50k["age"].std(), "\n")

# And let's have the same metrics for people with salary <=50K
less50k = df[df["salary"] == "<=50K"]

print("Age mean with the salary <=50K:", less50k["age"].mean().round(0).astype(int), "years")
print("Standard deviations of the age for peoples with salary <=50K:", less50k["age"].std())

<=50K    24720
>50K      7841
Name: salary, dtype: int64

Age mean with the salary >50K: 44 years
Standard deviations of the age for peoples with salary >50K: 10.519027719851826

Age mean with the salary <=50K: 37 years
Standard deviations of the age for peoples with salary <=50K: 14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
# Let's count educations gradations for people with a salary >50K
more50k["education"].value_counts()
print(more50k.groupby("education")["education"].count(), "\n")

# So, as we can see, it's not a true, because there is lot of peoples with Some-college and HS-grad education
# But let's calculate the percentage of high-level education
with_highlevel_ed = more50k[more50k["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])].shape[0]
print("Total number of poples with salary >50K:", more50k.shape[0])
print("Total number of peoples with_highlevel education:", with_highlevel_ed)
print("Percentage value of peoples with highlevel education:", round(with_highlevel_ed * 100 / more50k["education"].shape[0], 2), "%")
# Answer - no, it's not true. For the provided dataset, only 57.84% of people with a salary >50K had a high-level education

education
10th              62
11th              60
12th              33
1st-4th            6
5th-6th           16
7th-8th           40
9th               27
Assoc-acdm       265
Assoc-voc        361
Bachelors       2221
Doctorate        306
HS-grad         1675
Masters          959
Prof-school      423
Some-college    1387
Name: education, dtype: int64

Total number of poples with salary >50K: 7841
Total number of peoples with_highlevel education: 4535
Percentage value of peoples with highlevel education: 57.84 %

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [ ]:
# First of all, let's print a general statistic
df.groupby(["race", "sex"]).describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                         fnlwgt                 ...  \
                             75%   max    count           mean  ...
race               sex                                          ...
Amer-Indian-Eskimo Female  46.00  80.0    119.0  112950.731092  ...
                   Male    45.00  82.0    192.0  125715.364583  ...
Asian-Pac-Islander Female  43.75  75.0    346.0  147452.075145  ...
                   Male    46.00  90.0    693.0  166175.865801  ...
Black              Female  46.00  90.0   1555.0  212971.387781  ...
                   Male    46.00  90.0   1569.0  242920.644997  ...
Other              Female  39.00  74.0    109.0  172519.642202  ...
                   Male    42.00  77.0    162.0  213679.104938  ...
White              Female  46.00  90.0   8642.0  183549.966906  ...
                   Male    49.00  90.0  19174.0  188987.386148  ...

                          capital-loss         hours-per-week             \
                                   75%     max          count       mean
race               sex
Amer-Indian-Eskimo Female          0.0  1721.0          119.0  36.579832
                   Male            0.0  1980.0          192.0  42.197917
Asian-Pac-Islander Female          0.0  2258.0          346.0  37.439306
                   Male            0.0  2457.0          693.0  41.468975
Black              Female          0.0  4356.0         1555.0  36.834084
                   Male            0.0  2824.0         1569.0  39.997451
Other              Female          0.0  1740.0          109.0  35.926606
                   Male            0.0  2179.0          162.0  41.851852
White              Female          0.0  4356.0         8642.0  36.296691
                   Male            0.0  3770.0        19174.0  42.668822


                                 std  min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0
                   Male    10.909413  1.0  40.0  40.0  40.0  99.0
Other              Female  10.300761  6.0  30.0  40.0  40.0  65.0
                   Male    11.084779  5.0  40.0  40.0  40.0  98.0
White              Female  12.190951  1.0  30.0  40.0  40.0  99.0
                   Male    12.194633  1.0  40.0  40.0  50.0  99.0

[10 rows x 48 columns]

In [ ]:
# As we can see, max age for men of the Amer-Indian-Eskimo race is 82. Let's print it.
print("Max age for Amer-Indian-Eskimo mens is:", df[(df["race"] == "Amer-Indian-Eskimo") & (df["sex"] == "Male")]["age"].max())

Max age for Amer-Indian-Eskimo mens is: 82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
# Let's add new a feature `is_married`
# We can create a new column with `.apply`, like below:
# more50k["is_married"] = df["marital-status"].apply(lambda x: True if x.startswith("Married") else False)
# Or we can use a mask here:
# more50k["is_married"] = pd.Series(False, index=more50k.index).mask(df["marital-status"].str.startswith("Married"), True)
# But both these solutions produce a SettingWithCopyWarning.
# So, let's use `.loc` (this one does not produce any warnings)

more50k = more50k.assign(is_married=False)
more50k.loc[more50k["marital-status"].str.startswith("Married"), "is_married"] = True
more50k[(more50k["sex"] == "Male")]["is_married"].value_counts(normalize=True).mul(100).round(1).astype(str) + "%"

# Answer - of all men with a salary >50k, married men have a bigger proportion (89.5%)

True     89.5%
False    10.5%
Name: is_married, dtype: object

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [ ]:
# Calculate a number of max working hours first
max_hours = df["hours-per-week"].max()

# Now we can filter all the crazy peoples which are work the same number of hours per week
crazy_peoples = df[df["hours-per-week"] == max_hours]

# And we can show a result
print(f"Number of peoples that are working {max_hours} hours in week:", len(crazy_peoples))
print("From them number of peoples which get more >50k salary:", len(crazy_peoples[crazy_peoples["salary"] == ">50K"]))

Number of peoples that are working 99 hours in week: 85
From them number of peoples which get more >50k salary: 25

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [ ]:
print("Mean hours per week for >50k salary:")
more50k.groupby("native-country")["hours-per-week"].mean()

Mean hours per week for >50k salary:

native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64

In [ ]:
print("Mean hours per week for <=50K salary:")
less50k.groupby("native-country")["hours-per-week"].mean()

Mean hours per week for <=50K salary:

native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

In [ ]:
# Additional task

In [ ]:
# Task 1 - improve dataframe types
print("Original DataFrame info:", df.info(), "\n")
initial_memory_usage = df.memory_usage(deep=False).sum()  # store non-deep memory usage for dataframe in bytes

# So, memory usage now is 3.7+ MB
# Let's make some improvements
print("Max age value:", df["age"].max())
df["age"] = df["age"].astype("int8")  # max age is 90, so we can use int8 here, because int8 can represents 2^8 (256) value

# Now let's check fnlwgt value
print("Max fnlwgt value:", df["fnlwgt"].max())
df["fnlwgt"] = df["fnlwgt"].astype("int32")  # we can use int32 here instead of int64

# Let's improve education-num
print("Max education-num value:", df["education-num"].max())  # max education-num is 16, so le's use int8 here
df["education-num"] = df["education-num"].astype("int8")

# capital-gain now
print("Max capital-gain value:", df["capital-gain"].max())
df["capital-gain"] = df["capital-gain"].astype("int32")  # we can use int32 here, because max value for capital-gain is 99999

# capital-loss
print("Max capital-loss value:", df["capital-loss"].max())
df["capital-loss"] = df["capital-loss"].astype("int16")  # int16 can be used here, because max value here is 4356

# Let's check hours-per-week
print("Max hours-per-week value:", df["hours-per-week"].max(), "\n")
df["hours-per-week"] = df["hours-per-week"].astype("int8")  # max value here is 99, so let's use int8

# Show results
print("Optimized memory usage:", (initial_memory_usage - df.memory_usage(deep=False).sum()) / 1024 / 1024, "MB")

# Conclusion - data type improvements can significantly reduce memory usage.
# Even minor updates, like changing data types for int columns can free a useful part of memory, especially for the large datasets

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
Original DataFrame info: None

Max age value: 90
Max fnlwgt value: 1484705
Max education-num value: 16
Max capital-gain value: 99999
Max capital-loss value: 4356
Max hours-per-week value: 99

Optimized memory usage: 1.0868406295776367 MB